body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


.navbar {
    background-color: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #212121 !important;
}



/* Footer  */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-social {
    width: 100%;

}

.f-info-social i {
    font-size: 1.2rem;
    margin-right: 1rem;

}

.f-info {
    text-align: center;
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;


}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}


.listing_links {
    text-decoration: none;
}


/* card Effect  */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
    transition: all 0.4s;
}

/* New Page */
.add_btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;

}


/* Show Page  */
.show-img {
    height: 45vh;
}


.btns {
    display: flex;
}


.show-card {
    padding-left: 0;
    padding-right: 0;
}


/* Map  */
#map {
    height: 350px;
    width: 130vh;
}

